<div class="col-sm-8 col-lg-2"></div>
<div ng-controller="PPPController as ctrl" class="col-sm-8 col-lg-4">
    <form name="configForm" >

    <div class="form-group">
            <label for="payeeName">Service Provider</label>
            <input id="payeeName" class="form-control" name="payeeName" type="text">
    </div>

    <div class="form-group">
        <label for="payeeNumber">Service Provider Number for Payment</label>
        <input id="payeeNumber"
                class="form-control"
                name="payeeNumber"
                type="text"
                required
                minlength="8"
                ng-pattern="/^[0-9+( )-]*$/"
                ng-model="ctrl.user.payeeNumber"/>
    </div>

    </form>
</div>