
<div class="col-sm-8 col-lg-2"></div>
<div class = "container col-sm-8 col-lg-4">
    <form name="loadform" >
        <div class="form-group">
            <button type="submit" class="btn btn-default form-control" ng-click="ctrl.appLogin()"id="Login-id">Login</button>                   
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default form-control" ng-click="ctrl.registerForm()" id="register-id">Register</button>                   
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default form-control" id="PANCU-id" disabled>Personal and Non-Commercial Use</button>                   
        </div>
    </form>
</div>

<!--
<div class = "container-fluid" style= "height: 400px; background-color: grey ">
        Footer
</div>
-->