<div class="col-sm-8 col-lg-2"></div>
<div class="col-sm-8 col-lg-4">

    <div ng-show="ctrl.pwcheck == 0">
    <form name="loginForm" >

    <div class="form-group" style="padding-top: 300px">

        <input id="password" class="form-control" name="password" type="text"  ng-model="ctrl.user.pw" placeholder="Enter App Lock Password">
    </div>

    <div class="form-group col-sm-4 pull-right" style="padding-right: 0">
        
        <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.checkApppw()" id="proceed-id">Proceed</button>                   
    </div>
   

    </form>

</div>
</div>

<div class="col-sm-8 col-lg-2"></div>
<div class="col-sm-8 col-lg-4">

    <div ng-show="ctrl.pwcheck != 0">
            <form name="loginForm" >
                    
            <div class="form-group" style="padding-top: 300px">
                <h1>Password incorrect</h1>
                    
                <h4><label>App Lock Password:</label>  {{ctrl.user.pw}} {{ctrl.appLockpw}}</h4>

            </div>

            <div class="form-group col-sm-4 pull-right" style="padding-right: 0">
                    
                    <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.loginFailed()" id="cancel-id">Cancel</button>                   
                </div>
                
            </form>
    </div>



</div>

