<div class="col-sm-8 col-lg-2"></div>
<div ng-controller="PPPController as ctrl" class="col-sm-8 col-lg-4">

    <form name="payForm" >

    <div class="form-group">
            <label for="payeeName">Pay To Service Provider</label>
            <input id="payeeName" class="form-control" name="payeeName" type="text">
    </div>

    <div class="form-group">
        <label for="payeeNumber">Pay To Service Provider Number</label>
        <input id="payeeNumber"
                class="form-control"
                name="payeeNumber"
                type="text"
                required
                minlength="8"
                ng-pattern="/^[0-9+( )-]*$/"
                ng-model="ctrl.user.payeeNumber"/>
    </div>


    <div class="form-group">
            <label for="payerName">Payer Name</label>
            <input id="payerName" class="form-control" name="payerName" type="text">
    </div>
    <div class="form-group">
            <label for="payerNumber ">Pay using Number</label>
            <input id="payerNumber" class="form-control" name="payerNumber" type="text">
    </div>
    <div class="form-group">
            <label for="payForstunid ">Pay for Student ID </label>
            <input id="payForstunid" class="form-control" name="payForstunid" type="text">
    </div>
    <div class="form-group">
            <label for="payForstuname ">Pay for Student Name </label>
            <input id="payForstuname" class="form-control" name="payForstuname" type="text">
    </div>
    <div class="form-group">
            <label for="payFormth ">Pay for Month </label>
            <input id="payFormth" class="form-control" name="payFormth" type="text">
    </div>
    
    <div class="form-group">
         <button type="submit" class="btn btn-primary form-control" id="proceed-id">Proceed</button>                   
    </div>
    </form>
</div>