<div class="col-sm-8 col-lg-6"></div>
<div ng-controller="PPPController as ctrl">

    <form name="profileForm" >

    <h4>Student Profile</h4>
    <div class="form-group col-sm-2">
        <label for="stuId">Student ID</label>
        <input id="stuId" class="form-control" name="stuId" type="text">
    </div>
    <div class="form-group col-sm-6">
        <label for="stuName">Student Name</label>
        <input id="stuName" class="form-control" name="stuName" type="text">
    </div>
    <div class="form-group col-sm-2">
        <label for="stuClass">Class</label>
        <input id="stuClass" class="form-control" name="stuClass" type="text">
    </div>
    <div class="form-group col-sm-2">
        <label for="stuSession">Session</label>
        <input id="stuSession" class="form-control" name="stuSession" type="text">
    </div>
    <div class="form-group col-sm-6">
        <label for="stuPickup">Pick Up Address</label>
        <input id="stuPickup" class="form-control" name="stuPickup" type="text">
    </div>
    <div class="form-group col-sm-6">
        <label for="stuReturn">Return Address</label>
        <input id="stuReturn" class="form-control" name="stuReturn" type="text">
    </div>


    <h4>Student Payment Profile</h4>
    <div class="form-group col-sm-12">
        <label for="stuPaytype ">Pay Type</label>
        <input id="stuPaytype" class="form-control" name="stuPaytype" type="text">
    </div>
 


    <h4>Student Payment History</h4>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">JAN</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">FEB</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">MAR</button>            
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">APR</button>                           
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">MAY</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">JUN</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">JUL</button>            
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">AUG</button>                           
    </div>  
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">SEP</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">OCT</button>    
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">NOV</button>            
    </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-default form-control" id="register-id">DEC</button>                           
    </div>  
  

   
    <div class="container col-sm-3 pull-right" style="padding-top: 20px">
    <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" id="update-id">Update</button>
                  
    </div> 
    </div> 
    </form>
</div>

<!--

<div class="form-group">

        <input id="submit"
                name="Update"
                type="submit"
                class="btn btn-success"/>
        <input id="cancel"
                name="cancel"
                type="submit"
                class="btn btn-success"/>
    </div>
-->