<div class="col-sm-8 col-lg-2"></div>
<div class="col-sm-8 col-lg-4">

    <form name="registerForm" >
        <div class="form-group">
                <label for="serviceprovider">Service Provider</label>
                <input id="serviceprovider" class="form-control" name="serviceprovider" type="text" ng-pattern="s/\v<(.)(\w*)/\u\1\L\2/g" ng-model="ctrl.user.serviceprovider"placeholder="Enter Service Provider">
        </div>

        <div class="form-group">
                <label for="mobileno">Parent's Register Number</label>
                <input id="mobileno"
                        class="form-control"
                        name="payeeNumber"
                        type="text"
                        required
                        minlength="8"
                        ng-pattern="/^[0-9+( )-]*$/"
                        ng-model="ctrl.user.mobileno"/>
        </div>
        <div class="form-group col-sm-4 pull-right" style="padding-right: 0">
                
                <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.registerApp('large-Modal')" id="proceed-id">Proceed</button>                   
        </div>
    
    
    </form>
</div>

