

a:hover {
    color: #FFE604;
    background-color: #FF0000;
    text-decoration: none;
}

a:focus {
    color: #FFE604;
    font-weight: 900;
    background-color: #FF0000;
    text-decoration: none;
    
}

a:active {
    color: #FFE604;
    font-weight: 900;
    background-color: #FF0000;
    text-decoration: none;
    
}

.navbar {
    padding: 0;
    font-size: 12px;
    text-align: left;
    }
    
    



/*

.navbar {
    padding: 0;
    font-size: 14px;
    text-align: center;
    }
    
    
.navbar ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    }  
    
.navbar ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
  a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4706FA; /*BACKGROUND color for active
    background-color: #030033;
    text-decoration: none;
 }
 */

.navboxstd {
    background-color: #FF0000;
    border-width: 3px 0px;
    border-top-color: #FFE604;
    border-bottom-color: #FFE604;
}

.navitemstd{
    font-family: 'Arial Black';
    color: white; 
	font-size: 1.8rem;
    font-weight: 700;
    word-spacing: 20px;
 
}

.modal-dialog {
    width: 100%;
}

    .modal-dialog .modal-lg {
        width: 100%;
        min-height: 100%;
    }

/*login page   */
.loginphoto{

    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #aaa;

    position: relative;
    Left: 30%;
    Top: 35%;
    
   
    }


.paratext {
font-size: 2rem;
font-family: 'lato';
font-weight: 600;
color: grey;
background-color: white;
}

.loginbkgd{
        background-image: url('./IMG/bamboo3.jpg');
       
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
		background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5));
        
}

input[type=text].logininput,input[type=email].logininput{
        background-color: transparent;
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-color: gray;
        color: #FFFFFF;
        height: 3em;
    }
    
    .loginbtn{
        border-radius: 0;
        background-color: #FFA0AC;
        color: white;
        font-weight: bold;
    }


/*footer stick to bottom*/

#footer {
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

