<nav class="navbar navbar-inverse navboxstd">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                    </button>
            <a class="navbar-brand pull-left" style="margin-top: -75px" href="#"><img src="/image/android-icon-96x96.png"></a>
            </div>

            <div class="collapse navbar-collapse" style="padding-left: 150px" id="Navbar">
                    <h4>
                            <a class="navitemstd" ui-sref="profile" ui-sref-active="active">MainMenu  </a>
                            
                            <a class="navitemstd" ui-sref="load" ui-sref-active="active">AppLoadPage  </a>
                            <a class="navitemstd" ui-sref="register" ui-sref-active="active">Register  </a>

                            <a class="navitemstd" ui-sref="add" ui-sref-active="active">AddProfile  </a>
                            <a class="navitemstd" ui-sref="payform" ui-sref-active="active">Payform  </a>
                            <a class="navitemstd" ui-sref="Notify" ui-sref-active="active">Notification  </a>
                    </h4>
            </div>                

     </div>
    
