<nav class="navbar navbar-inverse navboxstd">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                    </button>
            <a class="navbar-brand pull-left" style="margin-top: -75px" href="#"><img src="/image/android-icon-96x96.png"></a>
            </div>

            <div class="collapse navbar-collapse" style="padding-left: 150px" id="Navbar">
                    <h4>
                            <a class="navitemstd" ui-sref="profile" ui-sref-active="active">Profile  </a>
                            <a class="navitemstd" ui-sref="setting" ui-sref-active="active">Setting  </a>
                            <a class="navitemstd" ui-sref="config" ui-sref-active="active">Config  </a>
                            <a class="navitemstd" ui-sref="payform" ui-sref-active="active">Menu-OtherTest </a>
                    </h4>
            </div>                

     </div>
       <!-- 
                    <ul class="nav navbar-nav">

                        
                        
                        
                       
                        <li class="navitemstd"><a ui-sref="profile" ui-sref-active="active">Profile  </a></li>
                            <li class="navitemstd"><a ui-sref="setting" ui-sref-active="active">Setting  </a></li>
                            <li class="navitemstd"><a ui-sref="Config" ui-sref-active="active">Config  </a></li>
                            <li class="navitemstd"><a ui-sref="payform" ui-sref-active="active">Menu-OtherTest  </a></li>


                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                              </ul>
                            </li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                          </ul>
                                 
                            <h4>
                                <a class="navitemstd" ui-sref="profile" ui-sref-active="active">Profile  </a>
                                <a class="navitemstd" ui-sref="setting" ui-sref-active="active">Setting  </a>
                                <a class="navitemstd" ui-sref="config" ui-sref-active="active">Config  </a>
                                <a class="navitemstd" ui-sref="payform" ui-sref-active="active">Menu-OtherTest </a>
                            </h4>
                        -->

            </div>
        </div>

</div>
</nav>

<!--
            <div class="nav navbar-nav col-sm-8 col-lg-6">        </div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
-->

