<nav class="navbar navbar-default navboxstd">
        <div class="collapse navbar-collapse"></div>
            <div class="navbar-header col-sm-2 col-lg-2">
                    <a class="navbar-brand pull-left" style="margin-top: -75px" href="#"><img src="/image/android-icon-96x96.png"></a>
            </div>

        </div>
</div>
</nav>