<nav class="navbar navbar-default navboxstd">
        <div class="collapse navbar-collapse"></div>
            <div class="navbar-header col-sm-2 col-lg-2">
                    <a class="navbar-brand pull-left" style="margin-top: -75px" href="#"><img src="/image/android-icon-96x96.png"></a>
            </div>

            <div class="nav navbar-nav col-sm-8 col-lg-6">
                                   
                <h4>
                    <a class="navitemstd" ui-sref="register" ui-sref-active="active">Register  </a>
                </h4>


            </div>
        </div>
</div>
</nav>